trigger:
- master

pool:
  vmImage: ubuntu-latest

stages:
- stage: 'Junit'
  displayName: 'Junit satge'
  jobs:
     - job: 'JunitTest'
       displayName: 'Running Unit Test'
       steps:
        - script: echo 'Running sprint demo app unit test'
        - task: Maven@4
          inputs:
            mavenPomFile: 'pom.xml'
            goals: 'test'
            publishJUnitResults: true
            testResultsFiles: '**/surefire-reports/TEST-*.xml'
            codeCoverageToolOption: 'JaCoCo'
            javaHomeOption: 'JDKVersion'
            mavenVersionOption: 'Default'
            mavenAuthenticateFeed: false
            effectivePomSkip: false
            sonarQubeRunAnalysis: false
            pmdRunAnalysis: true


    
   

